## The .gitignore file specifies things that git should ignore.

# Jupyter Notebook
**/.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
**/__pycache__/

# PyCharm ide files
**/.idea

# macOS generated
**/.DS_Store

# data, models 
models/
data/
